
:root{
    --color-pry: #5995fd;
}

.text-center{
    text-align: center;
}
.pointer{
    cursor: pointer;
}
.font-3{
    font-size: 3rem;
}
.v-hidden{
    visibility: hidden;
}
.text-danger{
    color: #ff0000ba !important;
}
.text-primary{
    color: var(--color-pry);
}
.li__active{
    color: var(--color-pry);
}
.font-light{
    font-weight: 100;
}