.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
.modal-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    position: sticky;
    top: 0;
}
.form-group{
    width: 100%;
}
.input-field-modal{
    max-width: 100% !important;
}
.input-field-modal.spaced{
   width: 95%;
}
select:focus{
    outline: none;
}

.modal-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: sticky;
    padding: 1rem;
    bottom: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.modal-footer input{
    margin-right: 1rem;
}