.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
.modal-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    position: sticky;
    top: 0;
}
.modal-body{
    overflow-y: scroll;
    height: 31rem;
}
.form-group{
    width: 100%;
}
.input-field-modal{
    max-width: 100% !important;
}
.input-field-modal.spaced{
   width: 95%;
}
select:focus{
    outline: none;
}

.modal-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.modal-footer input{
    margin-right: 1rem;
}
.modal__cancel{
    font-size: 2rem;
    font-weight: 200;
    cursor: pointer;
}
.modal__logo{
    border: 1px solid red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 1rem;
    position: relative;
}
.modal__logo label{
    position: absolute;
    height: 100%;
    border: 1px solid green;
    height: 100px;
    width: 100%;
    border-radius: 50%;
  }
  .school__description{
    border-color: transparent;
    height: 90px;
      width: 100%;
      margin: 0px;
      position: absolute;
      background-color: #f0f0f0;
      padding: 1rem 1.5rem;
  }
 

.css-8iv5ev-control{
    min-height: inherit !important;
    background-color: #f0f0f0 !important;
    border-radius: 0;
    border: 1px transparent !important;
    border-color: #f0f0f0 !important;
}
.css-hl4258-ValueContainer:focus{
    border: none !important;
    background-color: f0f0f0 !important;
}
.css-11knxj9-Input{
    font-size: 24px;
}


@media (max-width: 1050px) {

    .ReactModal__Content{
        width: 100% !important;
        height: 100% !important;
    }
}